
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav ul {
  list-style-type: none;
  border: 0px solid rgb(183, 183, 221);
  padding: 0;
  margin: 0;
}
nav li {
  width: 5rem;
  background-color: rgb(202, 195, 195);
  text-align: center;
  /*margin-bottom: 0.7rem;*/
  display: inline-block;
  margin: 0px;
}

nav li:nth-child(2) {
  width: 3rem;
}
nav li:nth-child(3) {
  width: 3rem;
}
nav li:nth-child(4) {
  width: 3rem;
}
nav li:nth-child(5) {
  width: 3rem;
}

nav a {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5rem;
  margin:0;
}
nav a:hover {
  background-color: white;
  color: black;
}


.gallery div{
    flex-basis: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(116, 116, 218);
    border: 2px solid black;
    padding: 0px;
}

.gallery div div{
    flex-basis: 25%;
    background-color: rgb(116, 116, 218);
    border: 2px solid black;
    padding: 0px;
}

.gallery div div img{
    width: 100%;
    height: 100%;
}


@media (max-width: 1000px){
  .gallery div{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(116, 116, 218);
    border: 2px solid black;
    padding: 0px;
}

.gallery div div{
    flex-basis: 50%;
    background-color: rgb(116, 116, 218);
    border: 2px solid black;
    padding: 0px;
}

.gallery div div img{
    width: 100%;
    height: 100%;
}

}

@media (max-width: 600px){
  .gallery div{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(116, 116, 218);
    border: 2px solid black;
    padding: 0px;
}

.gallery div div{
    flex-basis: 100%;
    background-color: rgb(116, 116, 218);
    border: 2px solid black;
    padding: 0px;
}

.gallery div div img{
    width: 100%;
    height: 100%;
}

}




  
