html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background: rgb(66, 66, 138);
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0;
    width: 100%;
}


label.logo {
    color:white;
    font-size: 30px;
    line-height: 70px;
    padding: 0 0 80px 40px;
}

nav ul{
    float:right;
    margin-right: 40px;
}

nav ul li {
    display:inline-block;
    line-height: 70px;
    margin: 0 20px;
}

nav ul li a{
    background: rgb(66, 66, 138);
    color:white;
    padding:7px 13px;
    border-radius: 5px;
    width:150px;

}

/*.active, nav ul li a:hover{*/
nav ul li:first-child a, nav ul li a:hover{
    color:rgb(208, 203, 203);
    transition:0.5s;
    background: rgb(137, 120, 154);
}
.checkbtn, .checkrightbtn, .checkleftbtn {
    font-size: 24px;
    color: white;
    float:right;
    line-height: 70px;
    margin-right: 40px;
    cursor:pointer;
    display:none;
}

#check, #checkright, #checkleft{
    display:none;
}

.sub-menu-1 {
    display:none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display:flex;
    position: absolute;
    margin-top: -220px;
    margin-left: 0px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display:flex;
    flex-direction: column;
    display:column;
    margin:0px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 100px;
    padding: 10px;
    border-bottom: 1px dotted white;
    background: transparent;
    border-radius: 5px;
    text-align: left;
    height: 50px;
    line-height: 50px;
    margin: 0px;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: white;
}




@media (max-width:950px){
        nav{
            background: rgb(66, 66, 138);
            height: 70px;
            width: 100%;
            position: fixed;
            top: 0;
            width: 100%;
        }
        
        .menu-bar ul li:hover .sub-menu-1 {
            display:flex;
            position: absolute;
            margin-top: -15px;
            margin-left: 0px;
        }
        
        .menu-bar ul li:hover .sub-menu-1 ul {
            display:flex;
            flex-direction: column;
            display:column;
            margin:0px;
        }
        
        .menu-bar ul li:hover .sub-menu-1 ul li {
            width: 100px;
            padding: 10px;
            border-bottom: 1px dotted white;
            background: transparent;
            border-radius: 5px;
            text-align: left;
            height: 50px;
            line-height: 50px;
            margin: 0px;
        }
        
        .menu-bar ul li:hover .sub-menu-1 ul li:last-child {
            border-bottom: none;
        }
        
        .menu-bar ul li:hover .sub-menu-1 ul li a:hover {
            color: white;
        }
        
        

    }


@media (max-width:750px){
    
    nav{
        position: absolute;
        background: rgb(66, 66, 138);
        height: 70px;
        width: 100%;
        position: fixed;
        top: 0;
        width: 100%;
    }

    .menu-bar ul li:hover .sub-menu-1 {
        display:flex;
        position: absolute;
        margin-top: -70px;
        margin-left: 50%;
    }
    
    .menu-bar ul li:hover .sub-menu-1 ul {
        position:relative;
        display:flex;
        flex-direction: column;
        display:column;
        margin:0px;
        top: -20%;
        left: 13%;
    }
    
    .menu-bar ul li:hover .sub-menu-1 ul li {
        width: 100px;
        padding: 10px;
        border-bottom: 1px dotted white;
        background: transparent;
        border-radius: 5px;
        text-align: left;
        height: 50px;
        line-height: 50px;
        margin: 0px;
    }
    
    .menu-bar ul li:hover .sub-menu-1 ul li:last-child {
        border-bottom: none;
    }
    
    .menu-bar ul li:hover .sub-menu-1 ul li a:hover {
        color: white;
    }
   



    .checkbtn {
        display:block;
    }
    .checkrightbtn {
        display:block;
    }

    .checkleftbtn {
        display:block;
    }
    .checkbottombtn {
        display:block;
    }

    ul{
        position:fixed;
        width:100%;
        height:100vh;
        /*background:rgb(208, 203, 203);*/
        top: 70px;
        left:0%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li{
        display:block;

    }

    #check:checked ~ ul{
        left: 0;
    }


    #checkleft:checked ~ ul{
        left: -42%; 
  
    } 
    #checkright:checked ~ ul{
        left: 28%; 
    } 
 




}












