
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  display:flex;
  justify-content: center;
  align-content: center;
  margin:20px;
}
.container div{
background-color: beige;
border: 2px solid black;
width: 200px;
height: 200px;
text-align: center;
line-height: 200px;
}

.container div p{
  margin: auto;
  }




  
