html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  padding:100px; 
}
.container {
  position: relative;
  display: inline-flex;
  margin: 40px auto; 
  padding: 20px auto;
  font-size: 2rem;  
}

.tool:hover {
  font-size: 2.5rem;
  visibility: visible;
}

