html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}




.rate {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.rate:not(:checked) > input:last-child {
  display:inline-block;
  position: relative;
  left: -30px;
  top: 20px;
  padding:20px;

}

div {
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px auto;
}

div h2 {
  font-size: 40px;
  font-weight: normal;
  color: blue;
}

input[type=radio]{display:none;}
 
input[type=radio] + label.st1{
    display:inline-block;
    cursor: pointer;
    outline: 0; 
    width: 80px;
    height: 80px;
    background-image: url('../img/css_sprites3.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    text-indent: -99999px;
}

input[type=radio] + label.st2{
  display:inline-block;
  cursor: pointer;
  outline: 0; 
  width: 80px;
  height: 80px;
  background-image: url('../img/css_sprites3.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  text-indent: -99999px;
}

input[type=radio] + label.st3{
  display:inline-block;
  cursor: pointer;
  outline: 0; 
  width: 80px;
  height: 80px;
  background-image: url('../img/css_sprites3.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  text-indent: -99999px;
}

input[type=radio] + label.st4{
  display:inline-block;
  cursor: pointer;
  outline: 0; 
  width: 80px;
  height: 80px;
  background-image: url('../img/css_sprites3.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  text-indent: -99999px;
}
input[type=radio] + label.st5{
  display:inline-block;
  cursor: pointer;
  outline: 0; 
  width: 80px;
  height: 80px;
  background-image: url('../img/css_sprites3.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  text-indent: -99999px;
}

.rate > input[type=radio]:checked ~ label {    
  background-position: -80px 0px;;
}

.rate > input[type=radio]:hover ~ label {  
  background-position: -80px 0px;;
}

